

/* nav bar style here */

.nav-bar{
 max-width: 1170ox;
 height: 62px;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo{
  display: flex;
}

.nav-bar ul{
  display: flex;
  justify-content: space-between;
  gap: 45px;
  list-style: none;
}

.nav-bar ul li a{
  text-decoration: none;
  font-size: 25px;
  
}

.btn-contact{
  width: 197px;
  height: 40px;
  background-color: #FEA301;
  border-radius: 10px;
  border-style: none;
 
}

.btn-contact {
  color: white;
  font-size: 20px;
}

/* banner style here */

.banner{
  max-width: 1170px;
  height: 575px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-container h1{
  font-size: 56px;
  font-weight: bold;

}

.bnr-heading{
  color: #FEA301;
}

.bnr-heading2{
  color: #01ACFD;
}

.bnr-h2{
  color: #01ACFD;
}

.banner-container p{
  font-size: 20px;
  color: #111111;

}

.banner-btn{
  background-color: black;
  width: 197px;
  height: 50px;
  color: white;
  font-size: 20px;
  border-style: none;
  border-radius: 15px;
}
