

/* nav bar style here */

.nav-bar{
 max-width: 1170ox;
 height: 62px;
 margin: auto;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo{
  display: flex;
}

.nav-bar ul{
  display: flex;
  justify-content: space-between;
  gap: 45px;
  list-style: none;
}

.nav-bar ul li a{
  text-decoration: none;
  font-size: 25px;
  
}

.btn-contact{
  width: 197px;
  height: 40px;
  background-color: #FEA301;
  border-radius: 10px;
  border-style: none;
 
}

.btn-contact {
  color: white;
  font-size: 20px;
}